In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from IPython.display import clear_output

from sklearn.model_selection import train_test_split
from sklearn.metrics import auc, accuracy_score, confusion_matrix, mean_squared_error, mean_absolute_error
from sklearn.ensemble import RandomForestClassifier

In [3]:
df = pd.read_csv('./Resources/gtt_results.csv')
df.dropna(axis='rows', inplace=True)
df.head()

,id,group,sex,bodyweight,timepoint,0,15,30,60,90,120
0,F208,WT,F,22.8,0,122,194,196.0,188.0,186.0,189.0
1,F039,CLOCK,F,26.7,0,188,165,355.0,596.0,218.0,206.0
2,F014,WT,F,25.1,0,182,289,240.0,219.0,205.0,231.0
3,F081,CLOCK,F,26.1,0,183,266,206.0,214.0,246.0,168.0
4,F051,WT,F,29.8,0,141,199,200.0,171.0,181.0,145.0

In [4]:
df_sex = df[['sex', 'bodyweight', 'timepoint', '0', '15', '30', '60', '90', '120']]

In [5]:
#Assign features
X = df[['bodyweight', 'timepoint', '0', '15', '30', '60', '90', '120']]
y = df.sex
y = pd.Series(np.where(y.values == 'F', 1, 0),
          y.index)

# Split the data into X_train, X_test, y_train, y_test
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)

NameError: name 'df_group' is not defined